---
---

/*
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,700,300italic,700italic);

/* @import "reset"; */
/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}
a {
    text-decoration: none;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

/* @import "config"; */
// COLORS
$color-black: #272727;
$color-white: #FFFFFF;
$color-grey: #EEEEEE;
$color-link: #1A0DAB;
$color-code: #00FF00;
$color-hire-white: #FEFEFE;
$color-hire-black: #272727;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 600px;
/* END CONFIG */

.vcard {
    width: 100%;
	margin: auto;
    padding: 0px;
	font-size: 1em;
	line-height: 150%;
}
.contactleft {
    width: 50%;
    float: left;
}
.contactright {
    margin-left: 15%;
}


body {
	color: $color-black;
	background: $color-white;
	font-family: Roboto;
	font-size: 100%;
	font-weight: 400;
}
h1 {
	margin-bottom: 5px;
	font-size: 200%;
}
h2 {
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 150%;
	font-weight: bold;
}
p {
	font-size: 1em;
	line-height: 150%;
	margin-bottom: 10px;
}
strong {
	font-weight:bold;
}
em {
	font-style: italic;;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	color: $color-link;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid $color-link;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: disc;
	padding-left: 20px;
	li {
        padding: 5px;
		padding-left: 1px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}
blockquote {
  color: $color-black;
  border-left: 4px solid $color-black;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

.wrapper {
	max-width: 750px;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}

.pic {
  width: 280px;
	float: left;
	margin-top: 0em;
	margin-left: 0em;
	margin-right: 20px;
	margin-top: 5px;
	font-size: 11px;
	color:gray;
	@media screen and (max-width: $br) {
		width: 100%;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 50px;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		font-size: 2.5em;
		margin-bottom: 5px;
	}
	&__subtitle {
		font-size: 1em;
		padding-left: 5px;
	}
	ul {
		margin-top: 10px;
		li {
			display: inline;
			padding: 0;
			padding-left: 5px;
		}
	}
}

.blog {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
}

.post {
	padding-bottom: 30px;
	&__back {
		a {

		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 6px;
		h1 {
			display: inline-block;
			font-size: 1.6em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
			border-bottom: 3px solid $color-black;
		}
	}
	&__date {
		p {
			font-size: 1em;
			font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 40px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 15px;
		}
		a {
			padding-bottom: 1px;
			border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.page {
	&__title {
		font-size: 1.6em;
		font-weight: 500;
		margin-top: 20px;
		margin-bottom: 10px;
		line-height: 1.12;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.6em;
			font-weight: 500;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.2em;
			font-weight: 600;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 15px;
		}
		li {
			line-height: 125%;
		}
		ul {
			margin-top: -15px;
		}
	}
}

.paper {
	&__title {
		font-size: 1.6em;
		font-weight: 500;
		margin-top: 20px;
		margin-bottom: 10px;
		line-height: 1.12;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.6em;
			font-weight: 500;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.2em;
			font-weight: 600;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		h3 {
			font-size: 1em;
			font-weight: 600;
			margin-top: 15px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 125%;
			margin-bottom: 10px;
		}
		li {
			line-height: 125%;
		}
		.bibtex {
			font-size: .8em;
			line-height: 125%;
			font-family: monospace;
			word-wrap: break-word;
			background-color: rgb(248, 248, 248);
			border: 1px dashed;
			overflow-x: scroll;
			margin: 10px;
			padding: 10px;
		}
	}
}

.home {
	&__title {
		font-size: 1.6em;
		font-weight: 500;
		margin-top: 20px;
		margin-bottom: 10px;
		line-height: 1.12;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.6em;
			font-weight: 500;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.2em;
			font-weight: 600;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 0px;
		}
		li {
			line-height: 125%;
		}
	}
}

.impressum {
	padding-top: 40px;
	text-align: center;
	font-size: 0.8em;
	color: $color-link;
	a {
		color: $color-link;
	}
}

.acmdlitem {font-family: Roboto;
		color: $color-black; font-size: 1em;}
