<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% if page.title %}
        <title>{{ site.title}} -- {{ page.title }}</title>
    {% else %}
        <title>{{ site.title}} --{{ site.name }}</title>
    {% endif %}
    <meta name="description" content="{{ site.description }}">

    <!-- SEO -->
    <meta property="og:locale" content="en-US">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}">
    <link rel="canonical" href="{{ site.url }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <script type="application/ld+json"> { "@context" : "http://schema.org", "@type" : "person", "name" : "{{ site.title }}", "url" : "{{site.url}}", "sameAs" : null } </script>
    <!-- SEO -->

    <!-- <link rel="icon" href="/assets/img/favicon.png"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/fav/site.webmanifest">


    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L6XK6C29QF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-L6XK6C29QF');
    </script>

    <!-- icons -->
    <script src="https://kit.fontawesome.com/6ab1a72f26.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <div class="myheader"><h1>{{ site.name }}</h1>
                <!-- <div style="padding-top: .2cm; padding-left: .1cm;">
                       
                    </div>
                -->
            </div> 

            <ul>
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        {{ content }}

        <div class="impressum"><a href="/impressum">Impressum/Datenschutz</a></div>
    </div>

</body>

</html>
